/* rest css */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  background-color: #f1f5f9;
  height: 200vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
video {
  width: 100%;
}
body::-webkit-scrollbar {
  width: calc(10rem / 16);
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* end reset */

/* start styling aside */
aside {
  width: calc(250rem / 16);
  min-height: 100vh;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: calc(767rem / 16)) {
  aside {
    width: calc(80rem / 16);
  }
}
aside h2 {
  margin-bottom: calc(50rem / 16);
  position: relative;
  font-size: clamp(calc(12rem / 16), 2vw, calc(20rem / 16));
}
aside h2::after,
aside h2::before {
  content: '';
  position: absolute;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
}
aside h2::after {
  width: calc(80rem / 16);
  height: calc(2rem / 16);
  bottom: calc(-20rem / 16);
}
aside h2::before {
  width: calc(15rem / 16);
  height: calc(15rem / 16);
  border-radius: 50%;
  border: 5px solid white;
  bottom: calc(-30rem / 16);
}
@media (max-width: calc(767rem / 16)) {
  aside h2 {
    margin-bottom: calc(20rem / 16);
  }
  aside h2::after,
  aside h2::before {
    display: none;
  }
}
aside ul {
  display: flex;
  flex-direction: column;
  gap: calc(5rem / 16);
}
@media (max-width: calc(767rem / 16)) {
  aside ul {
    align-items: center;
  }
}
aside li {
  transition: 0.3s;
}
aside a {
  display: flex;
  width: 100%;
  margin: 0;
  align-items: center;
  gap: calc(10rem / 16);
}
@media (max-width: calc(767rem / 16)) {
  aside a span {
    display: none;
  }
}
aside li:hover,
.active {
  background-color: #f6f6f6;
  border-radius: calc(6rem / 16);
}
/* finish the aside */

/* start header */
.content {
  flex: 1;
}
header .search {
  border: 1px solid #ddd;
  padding: calc(7rem / 16) calc(10rem / 16);
  display: flex;
  align-items: center;
}
header .search input {
  border: none;
  width: calc(150rem / 16);
  transition: 0.3s;
}
header .search input:focus {
  width: calc(200rem / 16);
}
@media (max-width: calc(449rem / 16)) {
  header .search input:focus {
    width: calc(150rem / 16);
  }
}
header .search input:focus::placeholder {
  opacity: 0;
}
header .search input::placeholder {
  font-size: calc(14rem / 16);
}
header .search i {
  color: var(--grey-color);
}
header img {
  width: calc(32rem / 16);
  height: calc(32rem / 16);
}
header .notification i {
  font-size: calc(25rem / 16);
  position: relative;
}
header .notification i::after {
  content: '';
  position: absolute;

  width: calc(7rem / 16);
  height: calc(7rem / 16);
  border-radius: 50%;
  background-color: var(--red-color);
}

/* end header */

/* start main */
main h1 {
  font-size: clamp(calc(20rem / 16), 3vw, calc(35rem / 16));
  width: fit-content;
  margin: 0;
}
main h1::after,
main h1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: calc(-8rem / 16);
  height: calc(3rem / 16);
}
main h1::after {
  width: 70%;
  background-color: white;
}
main h1::before {
  z-index: 1;
  width: 30%;
  background-color: black;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(450rem / 16), 1fr));
  gap: calc(15rem / 16);
  margin-top: calc(50rem / 16);
}
/* end main */

/* start welcome */
.welcome {
  overflow: hidden;
  padding-bottom: calc(20rem / 16);
}
.welcome figure {
  margin: 0;
}
.welcome > div:first-of-type {
  display: flex;
  position: relative;
}
.welcome figure:first-of-type img {
  width: calc(200rem / 16);
}
.welcome figure:last-of-type img {
  width: calc(64rem / 16);
  height: calc(64rem / 16);
  position: absolute;
  bottom: calc(-32rem / 16);
  left: calc(20rem / 16);
  border: 5px solid white;
  border-radius: 50%;
}
.welcome .status {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: calc(50rem / 16) 0 calc(25rem / 16);
}
.welcome .status span {
  display: block;
  margin-top: calc(10rem / 16);
}
a {
  display: block;
  width: fit-content;
  margin: 0 calc(20rem / 16) 0 auto;
  font-size: calc(14rem / 16);
}
/* end welcome */
